@import "tailwindcss";
@import "prismjs/themes/prism-tomorrow.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.notion-page h1, h2, h3 {
  color: #26A69A;
  margin-top: 2rem;
}
.notion-page p {
  color: #E0F2F1;
  margin-bottom: 1rem;
}
